<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div>
		<h1 th:text="'Spring thymeleaf: ' +${name}">Spring thymeleaf</h1>
		<a th:href="@{/employee}"  th:text="'Employees'">Employees List</a>
	</div>
</body>
</html>