<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div>
		<h1 th:text="'List of products'">Text</h1>
		
		<table border='1'>
			<thead>
			<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Value</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.value}"></td>
					</tr>
			</tbody>
		</table>
	</div>
</body>
</html>