<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div>
		<h1 th:text="'List of employees'">Text</h1>
		<a th:href="@{/employee/new}">New employee</a>
		<!-- Here goes list -->
		<table border='1'>
			<thead>
			<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Salary</th>
			<th>Edit</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.salary}"></td>
					<td><a th:href="@{'/employee/'+ ${employee.id}}">edit</a> </td>
					</tr>
			</tbody>
		</table>
	</div>
</body>
</html>